body {
    background-color: rgb(48, 48, 126);
    text-align: center;
    font-family: 'Cormorant Infant', sans-serif;
    text-shadow: 2px 2px 5px #df3ff4;;
    color: white;
    font-size: medium;
    margin: 0px 0px 30px 0px;
    
}

p {
    font-size: 20px;  
    line-height: 1.5;
    text-align: justify;
}

h1{
    font-size: 55px;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}
  
h2{
    font-size: 40px;
    color: #c2b60d;
    font-family: 'Dancing Script', cursive;
}

h3{
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 5px #820e91;;
  color: #c2b60d;
}
  
section{
    width: 60%;
    margin: 0 auto;
}
  
section section{
    width: 100%;
}
  
img{
  width: 100%;
}

div.conteudoBiografia {
  margin: 0px 5px;
  padding: 45px;
	width: 300px;
	display: inline-block;
  
}

div.conteudoBiografia .imagemBiografia{
  max-width: auto;
  min-height: auto;
  border-radius: 20px;
}

.imagemContextoHistorico{
  max-width: auto;
  min-height: auto;
  border-radius: 20px;
  
}

.imagemTecnologia{
  max-width: auto;
  min-height: auto;
  border-radius: 20px;
}

ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}
  
a{
    text-decoration: none;
    color: #99ffad;
    font-weight: 700;
}

.principal{
  background-color:   #638d9a;
  height: 40px;
  max-width: 90%;
  margin: 0 auto;
  width: 0 auto;
  border-radius: 3px;
  }

.principal a {
  color: white;
  font-size: larger;
  text-decoration: none;
  font-weight: normal;
}

.principal a:hover {
  color: #c2b60d;
  text-decoration: none;
  font-weight: normal;
}

.principal li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 89px;
}

.videoParaSaberMais{
  max-width: auto;
  min-height: 150px;
  align-items: center;
  margin-bottom: 40px;

}

.footer{
  width: 100%;
  height: 150px;
  background-color: #638d9a;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.icone{
  width: 40px;
}

.footer__links{
  width: 15%;
  height: 15%;
  margin-top: 50px;
  box-sizing: border-box; 
  display: inline-flex;
  justify-content: space-between;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: px;
  border-radius: 2px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: center;
  margin: 5px auto;
}

input, textarea {
  font: bold;
  width: 500px;
  box-sizing: border-box;
  align-items: center;
}

.campo_nome{
  align-items: center;
  margin: 0px 0px;
  padding: 0 0px;
  border-radius: 5px;
}

.campo_mensagem{
  align-items: center;
  margin: 0px 0px;
  padding: 0 0px;
  border-radius: 5px;
}

.text_nome{
  font-size: larger;
  font-family: "Montserrat", "Montserrat", monospace;
    text-shadow: 2px 2px 5px #df3ff4;;
}

.text_mensagem{
  font-size: larger;
  font-family: "Montserrat", "Montserrat", monospace;
  text-shadow: 2px 2px 5px #df3ff4;;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 2px;
  margin-top: 8px;
  margin-bottom: 30px;
  background-color: #e4dc72;
  border-radius: 5px; 
}
